!!!
%html
  %head
    %title= page_title
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
  %body
    :javascript
      ActivePage.state.set(#{render_json});
      ActivePage.render(#{page_layout.to_json}, #{page_name.to_json});
