!!!
%html
  %head
    %title= page_title
    = javascript_include_tag "application"
    = stylesheet_link_tag "application", :media => "all"
  %body
    :javascript
      ENV = {};
      Page.render(#{layout.to_json}, #{page.to_json}, #{render_options.to_json});
